# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these written to a standalone folder, but may contain private data
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.toast/
.cache
.hypothesis/
.pytest_cache/
.tox/
.nox/
cover/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.flatpak-builder/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of microservices or deployable applications, yes.
#   For library development, not so much.
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock is ofted tracked.
# poetry.lock

# pdm
.pdm.toml
.pdm-plugins/
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath Sahara
.sagehold

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Virtual Environments
.venv/
venv/
ENV/
env/
ENV/local/
ENV/lib/

# Editor / IDE settings
.idea/
.vscode/
*.swp
*.swo
*~
